[Unit]
Description=Spark Master
After=network-online.target

[Service]
Type=forking
User={{ spark_user }}
ExecStart=/opt/spark-2.2.0-bin-hadoop2.7/sbin/start-master.sh
ExecStop=/opt/spark-2.2.0-bin-hadoop2.7/sbin/stop-master.sh
Restart=on-failure
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

[Install]
WantedBy=multi-user.target
