# Create the OPV user
- name: Create the opv user
  user:
    name: opv

# Create the directory tree
- name: Create opv user's tree
  file:
    path: "/home/opv/{{ item }}"
    state: directory
    owner: opv
    group: opv
    mode: 0755
  with_items:
    - bin
    - conf
    - data
    - data/dm
    - dev
    - logs
    - logs/celery
    - venvs

###########################
### Installation de OPV ###
###########################

- name: Update pip, wheel and setuptools
  pip:
    name: "{{ item }}"
    extra_args: "--upgrade"
    virtualenv: /home/opv/venvs/opv
    virtualenv_command: pyvenv
    state: latest
    editable: false
  with_items:
    - pip
    - wheel
    - setuptools
  become: yes
  become_user: opv

- name: Install OPV modules
  pip:
    name: "git+{{ item }}"
    virtualenv: /home/opv/venvs/opv
    virtualenv_command: pyvenv
    editable: false
    extra_args: "--process-dependency-links"
    state: latest
  with_items:
    - https://github.com/OpenPathView/DirectoryManager.git
    - https://github.com/OpenPathView/OPV_DBRest.git
    - https://github.com/OpenPathView/OPV_importData.git
    - https://github.com/OpenPathView/OPV_Tasks.git
    - https://github.com/OpenPathView/OPV_Dags.git
    - https://github.com/OpenPathView/opv-status-api.git
    - https://github.com/OpenPathView/opv-graphe.git
  become: yes
  become_user: opv
  environment:
    LC_ALL: "en_US.UTF-8"    # ensure local is set, fixes bug with ASCII decode error
    LC_CTYPE: "en_US.UTF-8"  # ensure local is set, fixes bug with ASCII decode error

- name: Add virtualenv activation in bashrc file for opv user
  lineinfile:
    dest: /home/opv/.bashrc
    line: "source ~/venvs/opv/bin/activate"

- name: Setup OPV bin script
  template:
    src: "launch_{{ item }}.sh"
    dest: "/home/opv/bin/launch_{{ item }}.sh"
    owner: opv
    group: opv
    mode: 0755
  with_items:
    - api
    - dm
    - status-api
    - graph-api

- name: Setup OPV service
  template:
    src: "{{ item }}-service.j2"
    dest: "/etc/systemd/system/opv-{{ item }}.service"
    owner: opv
    group: opv
    mode: 0755
  with_items:
    - api
    - dm
    - status-api
    - graph-api

- name: Reload Systemctl
  command: systemctl daemon-reload
