[Unit]
Description={{ item }}
After=network-online.target

[Service]
Type=simple

User=opv

ExecStart=/home/opv/bin/launch_airflow_service.sh {{ item }}
KillSignal=SIGKILL
KillMode=mixed
Restart=on-failure


[Install]
WantedBy=multi-user.target
